

ul {
  margin: 0em;
  padding: 0em;
}

.match-details-right-container {
  margin: 1.5em 0em;
}

.match-status-icon {
  display: block;
  font-size: 0.85em;
  text-align: center;
  line-height: 1.2;
}