<div class="g-row">
  @for (match of getCombinedtMatchDescriptions(); track $index) {
  <div (click)="onMatchEntryClicked($index)"
    class="gus-button-narrow gus-border player-card-grad date-as-calendar vert-calendar gus-hoverable"
    [class.gus-button-active]="$index == this.selectedIndex" [routerLink]="[getSelectedMatch($index)]">
    <span class="year">{{match.year}}</span>
    <span class="month">{{match.month}}</span>
    <span class="day">{{match.day}}</span>
  </div>
  } @empty {
  <div>No recent matches.</div>
  }
</div>
<br>
<div class="history-bot-outline">
  <router-outlet />
</div>