app-profile {
  margin-right: 0.5em;
  /* position: fixed;
  right: 0;
  top: 0; */
}

.nav-spacer {
  flex-grow: 10;
}

a {
  font-weight: 500;
  text-decoration: none;
  display: block;
}

header {
  position: sticky;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--gus-panel-bck);
}

.nav-logo {
  width: 2.5em;
  height: 2.5em;
}

.nav {
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
}

.nav-header {
  display: inline;
}

.nav-btn {
  cursor: pointer;
}

.nav>.nav-btn {
  display: flex;
  padding: 3px;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.nav>.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  /* overflow-y: hidden; */
  z-index: 20;
}

.nav>.nav-links>a {
  padding: 0.6em 0.35em;
  color: #efefef;
  display: flex;
  align-items: center;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.nav>#nav-check {
  display: none;
}

@media (max-width:900px) {
  .nav>.nav-btn {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    padding: 3px;
    z-index: 10;
  }

  .nav>.nav-btn>.nav-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4px;
    gap: 0.25rem;
    z-index: 10;
  }

  .nav>.nav-btn:hover,
  .nav #nav-check:checked~.nav-btn {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav-label>span {
    width: 1.5em;
    height: 0.25em;
    border-top: 4px solid #eee;
  }

  .nav>.nav-links {
    /* position: absolute; */
    /* gusti, 2024-04-28: enable this for a quick fix to visibility, but breaking layout */
    position: relative; 
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* display: block; */
    width: 100%;
    background: var(--gus-panel-bck);
    height: 0px;
    width: 0px;
    /* transition: transform 0.75s ease-in; */
    overflow-y: hidden;
    top: 48px;
    left: 0px;
    z-index: 20;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    transition: height 0.75s ease-in;
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    transition: height 0.75s ease-in;
    height: auto;
    width: 90%;
    overflow-x: hidden;
    z-index: 20;
    /* overflow: hidden; */
  }
}