<header class="header nav">
  <input type="checkbox" id="nav-check" placeholder="-">
  <div class="nav-header">
    <div class="avatar-outer" [class.avatar-outer-anim]="this.loadingFlag$ | async">
      <div class="avatar">
        <img class="rounded-avatar-img" src="./../../assets/gusball_logo_256.webp" alt="logo" />
      </div>
    </div>
    <!-- <div class="nav-title">
      <a class="nav-link" height="40rem" routerLink="/about">
        tfl
        <span><img rel="preload" src="./../../assets/gusball_logo_256.webp" height="40rem" alt=""></span>
      </a>
    </div> -->
  </div>

  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    @if(isAuthenticatedAsUser()){
    <a class="nav-link" routerLink="/recent">Recent Games</a>
    <a class="nav-link" routerLink="/history">Recent Matches (NEW)</a>
    <a class="nav-link" routerLink="/draft">Draft</a>
    <a class="nav-link" routerLink="/players">Players</a>
    }
    @if(isAuthenticatedAsAdmin()){
    <a class="nav-link" routerLink="/admin">Admin</a>
    }
    @if(isAuthenticatedAsOrganizer()){
    <a class="nav-link" routerLink="/custom">Custom Game</a>
    }
    <a class="nav-link" routerLink="/about">About</a>
    @if(this.isAuthenticated()) {
    <a class="nav-link" (click)="onSignoutBtnClick();">Sign out</a>
    }@else{
    <a class="nav-link" routerLink="/signin">Sign in</a>
    }
  </div>
</header>