<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand" routerLink="/about">tfl
    <span><img src="./../../assets/ball.svg" height="30rem" alt=""></span></a>

  <div class="navbar-default col-10" id="navbarTogglerTFL">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/nextmatch">Next Match</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/players">Players</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link disabled" routerLink="/matches">Matches</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [ngClass]="{disabled: !userIsAdmin()}">Admin</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>

      <li routerLinkActive="active" class="nav-item disabled">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
    </ul>

  </div>
</nav>