<div class="jumbotron">
  <h1 class="display-4">TFL</h1>
  <p class="lead">Privacy policy</p>

  <p class="lead">
    What data with potential personal identification is kept?
  </p>
  <div>
    Data defined by app admins:
    <ul>
      <li>Name, Display Name, Nickname</li>
      <li>Skill rating</li>
      <li>Recent match history</li>
    </ul>
  </div>
  <div>
    Data provided by users (not directly linked to admin data):
    <ul>
      <li>Email</li>
      <li>Name</li>
    </ul>
  </div>

</div>