<form (submit)="onStoreCliked()">
  <div class="f-row f-row-center">
    <button type="button" class="gus-button gus-border gus-hoverable pseudo-button" #copyToClipBtn placement="top"
      [copy-clipboard]="customClipTextToClip()" (copied)="notifyCpy($event)" (click)="onCopyClicked();"><span
        class="align-self-center">
        📎📋</span></button>
    <button type="button" class="gus-button gus-border gus-hoverable pseudo-button" (click)="onStoreCliked()">Store
      ☁️</button>
    <div>
      <label for="targetDate">Date:</label>
      <input class="gus-input gus-border" type="text" name="targetDate" placeholder="Select a date"
        [(ngModel)]="targetDate" #targetDateInput autofocus>
    </div>
  </div>
</form>