<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-10 col-lg-8">
    <div class="jumbotron">
      <h1 class="display-4">TFL</h1>
      <p class="lead">Thursday Football League</p>
      <hr class="my-4" />

      <p class="lead">
        You are running version {{ this.version }} ({{
          this.releaseDate | date: "yyyy-MM-dd"
        }})
      </p>
      <p class="lead">Deployed by {{ this.author }}</p>

      <h1 class="display-5">GDPR and Cookies</h1>
      <p class="lead">
        This site uses technologies that could probably be used to identify its
        users. Specific cookies are not used at the time of this writing, but
        they be added at some point in the future (and the author of the site
        may foget to update the list; so just assume the worst).
      </p>
      <p class="lead">
        This site stores personal identifiable information. If your information
        appears on this site and would no longer want that, please contact the
        author directly. If you appear here, you must know the author directly,
        or through a single contact. This is a private site in the end.
      </p>
    </div>
  </div>
</div>
