<div>
  Details...
</div>

<div *ngIf="this.selectedMatchDetails$ | async as match" class="history-grid">
  <div class="history-grid-data-header">
    <!-- Date 🗓️: {{matchSearchKey}} -->
    Date 🗓️: TODO
  </div>
  <div class="history-grid-data-left">
    Team one 1️⃣
    <ul class="gus-list">
      <li class="gus-list-item" *ngFor="let leftItem of match.team1">
        <span class="gus-list-item-name">{{ this.getDisplayNameForPlayer(leftItem) }}</span>
        <br>
        <span class="gus-list-item-rating">{{ this.getInitialRatingForPlayer(leftItem) }}</span>
        <span class="gus-list-item-diff" [class.good-num]="isGoodRatingDiff(match, leftItem)"
          [class.bad-num]="isBadRatingDiff(match, leftItem)">
          {{ this.getPostMatchDiffForPlayer(match, leftItem) }}</span>
      </li>
    </ul>
    <input aria-label="t1 score" type="number" class="form-control" name="team1Score" id="team1Score"
      [(ngModel)]="this.team1Score" #team1ScoreEntry="ngModel"
      [attr.disabled]="!this.canChangeScore(match)? '' : null">
  </div>
  <div class="history-grid-data-right">
    Team two 2️⃣
    <ul class="gus-list">
      <li class="gus-list-item" *ngFor="let rightItem of match.team2">
        <span class="gus-list-item-name">{{ this.getDisplayNameForPlayer(rightItem) }}</span>
        <br>
        <span class="gus-list-item-rating">{{ this.getInitialRatingForPlayer(rightItem) }}</span>
        <span class="gus-list-item-diff" [class.good-num]="isGoodRatingDiff(match, rightItem)"
          [class.bad-num]="isBadRatingDiff(match, rightItem)">{{ this.getPostMatchDiffForPlayer(match, rightItem)
          }}</span>
      </li>
    </ul>
    <input aria-label="t2 score" type="number" class="form-control" name="team2Score" id="team2Score"
      [(ngModel)]="this.team2Score" #team2ScoreEntry="ngModel"
      [attr.disabled]="!this.canChangeScore(match)? '' : null">
  </div>

  <div class="history-grid-data-footer">
    <div *ngIf='canShowStoreResultsButton(match)'>
      <button type="button" class="btn btn-outline-gus btn-grad-gusty" (click)="onStoreResultClick(match)">
        <span>
          <svg width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
            <use href="./../../../assets/svgicons.svg#store-result" />
          </svg>
        </span>
        Store Result
      </button>
    </div>

    <div *ngIf='canShowApplyResultsButton(match)'>
      <button type="button" class="btn btn-outline-gus btn-grad-gusty" (click)="onUpdateRatingsClick(match)">
        <span>
          <svg width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
            <use href="./../../../assets/svgicons.svg#upload-result" />
          </svg>
        </span>
        Update Ratings
      </button>
    </div>
  </div>

</div>