<div class="history-area">
  <div class="history-left-outline">
    <button class="gus-button gus-border gus-hoverable" type="button" (click)="onAddGameClicked();">Add game ➕</button>
    <ul>
      @for (matchData of this.gameEvents(); track $index) {
      <li (click)="onMatchEntryClicked(matchData)"
        class="gus-button-narrow gus-border player-card-grad date-as-calendar vert-calendar gus-hoverable"
        [class.gus-button-active]="matchData == this.selectedMatch()">
        <span class="year">{{matchData.year}}</span>
        <span class="month">{{matchData.month}}</span>
        <span class="day">{{matchData.day}}</span>
        <span class="suffix">{{matchData.suffix}}</span>
      </li>
      } @empty {
      <li>No recent matches.</li>
      }
    </ul>
  </div>
  <div class="history-right-outline">

    @if(this.addEvent(); as eventEditForm) {
    @if (eventEditForm.action != undefined && eventEditForm.action != EMPTY) {
    <form (submit)="this.saveMatch(eventEditForm)">
      <h3>{{eventEditForm.action =="add" ? "Add" : "Edit" }} Game Event</h3>
      <label for="event_date"></label>
      <input class="gus-input gus-border" [ngModel]="eventEditForm.matchDate | date:'yyyy-MM-dd'"
        (ngModelChange)="this.onCalendarDateSelected($event)" type="date" name="event_date" required
        placeholder="Event Date">
      <label for="event_name"></label>
      <input class="gus-input gus-border gus-hoverable" [(ngModel)]="eventEditForm.suffix" type="text" name="event_name"
        placeholder="(Optional) Suffix">
      <div>
        <label for="name_preview">Name Preview:</label>
        <input class="gus-input gus-border" type="text" name="name_preview" placeholder="Select a date"
          value="{{this.getPreviewName(eventEditForm.matchDate, eventEditForm.suffix)}}" readonly disabled>
      </div>
      <div>
        <button type="button" class="gus-button gus-border gus-hoverable"
          (click)="this.selectNextTuesdayOrThursday()">Next Tuesday/Thursday</button>
      </div>
      <div>
        <button type="submit" class="gus-button gus-border gus-hoverable">Save</button>
        <button type="button" class="gus-button gus-border gus-hoverable" (click)="this.cancelEdit()">Cancel</button>
      </div>
    </form>
    }
    }

    @if (this.selectedMatch(); as selectedMatch) {
    <app-gameeventdraft></app-gameeventdraft>
    }
  </div>
</div>