<div class="gus-sidenav-container" (click)="onSideNavInnerContainerClicked($event)">
  <button class="gus-button gus-border gus-hoverable" (click)="onCloseBtnClick()">Close</button>
  <button class="gus-button gus-border gus-hoverable" (click)="onCopyBtnClick()">Select & Copy</button>
  <table style="border: 1px solid" #tab1>
    <thead>
      <tr style="border: 1px solid">
        @for (evtdate of transposedSignal().header; track evtdate) {
        <th>{{evtdate}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (playerLines of transposedSignal().players; track $index) {
      <tr>
        @for (player of playerLines; track player) {
        <td>{{player}}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
@if (activeMatchContents$ | async) {}