<div class="gus-sidenav-container" (click)="onSideNavInnerContainerClicked($event)">
  <button class="gus-button gus-border gus-hoverable" (click)="onCloseBtnClick()">Close</button>
  <button class="gus-button gus-border gus-hoverable" (click)="onCopyWithAPIBtnClick()">Copy (Table 📊)</button>
  <button class="gus-button gus-border gus-hoverable" (click)="onCopyAsTextClick()">Copy as Text</button>
  <table style="border: 1px solid;">
    <thead style="background-color: darkgray;">
      <tr>
        <th style="border-right: 1px solid">##</th>
        @for (evtdate of transposedSignal().header; track evtdate) {
        <th style="border-right: 1px solid">{{evtdate}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (playerLines of transposedSignal().players; track $index) {
      <tr>
        <td style="border: 1px solid">{{$index + 1}}</td>
        @for (player of playerLines; track player) {
        <td style="border: 1px solid">{{player}}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
@if (activeMatchContents$ | async) {}