<div class="f-row f-align-center">
    <!-- show the list of players on the left side -->
    <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-3 left-player-list">

        <!-- <app-player-routed-card *ngFor="let playerItem of players; let even = even; let odd = odd" [player]="playerItem"
            [id]="playerItem.id" [ngClass]="{ odd: odd, even: even }">
        </app-player-routed-card> -->

        @if (this.canExportPlayers()) {
            <button class="btn btn-outline-gus btn-grad-gusty" 
                (click)='onExportPlayerClicked($event)' download="download.json">Export...</button>
        }
    </div>

    <div>Test login</div>
    <button class="btn btn-outline-gus btn-grad-gusty" (click)='onTestLoginClick($event)'>Login with Google</button>

    <button type="button" (click)='onToggleAnim($event)'>Toggle anim</button>
    <button type="button" (click)='onAddNotif($event)'>Add notification</button>

</div>

@if (this.user$ | async; as user) {
<div style="display: flex;">
    Hello {{user.displayName}}!
    <!-- <div class="avatar-outer" [class.avatar-outer-anim]="this.anim$ | async">
        <div class="avatar">
            <img class="rounded-avatar-img" [src]="user.photoURL" alt="user photo" />
        </div>
    </div> -->
    <app-profile></app-profile>
</div>
}
<br>

<app-toasts aria-live="polite" aria-atomic="true"
    style="position: relative; min-height: 200px; z-index: 1;"></app-toasts>