<div class="row justify-content-center">
    <!-- show the list of players on the left side -->
    <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-3 left-player-list">

        <app-player-routed-card *ngFor="let playerItem of players; let even = even; let odd = odd" [player]="playerItem"
            [id]="playerItem.id" [ngClass]="{ odd: odd, even: even }">
        </app-player-routed-card>

        <button class="btn btn-outline-gus btn-grad-gusty" *ngIf='canExportPlayers()'
            (click)='onExportPlayerClicked($event)' download="download.json">Export...</button>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px; z-index: 1;"></app-toasts>