<div class="row">
    <div class="col-md-2">
        Upcoming match
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <app-next-match *ngIf="nextMatchCreated; else noMatchYet"></app-next-match>
        <ng-template #noMatchYet>
            <p>No match created yet.
                Please wait for an admin to create a match...
            </p>
        </ng-template>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-2">
        <app-previous-matches *ngFor="let match of matches"></app-previous-matches>
    </div>
</div> -->