<div class="player-card-container">
  <p class="player-card-tv square">{{ player?.id }}</p>
  <div class="player-card-panel">

    <div class="player-card-name">
      {{ playerDisplayName() }}
    </div>
    <div class="player-card-internalid">
      {{ player?.name }}
    </div>
    <div class="player-card-rating">
      {{ player?.rating | number:'1.1-2' }}
    </div>
    <div class="d-flex">
      @for (recentRating of this.getRecentMatches(); track recentRating) {
      <span [ngClass]="this.getDisplayClassForRating(recentRating)">
        {{ this.getDisplayTextForRating(recentRating) }}
      </span>
      }
    </div>
  </div>
</div>