<div class="row player-card-container">
  <!-- <div class="player-card-shirt">
    <img src="assets/tshirt.svg" alt="">
  </div> -->
  <p class="col-3 col-sm-2 player-card-tv square">{{ player?.id }}</p>
  <span class="col-auto col-9 col-sm-10 align-self-start player-card-panel">

    <div class="player-card-name">
      {{ playerDisplayName() }}
    </div>
    <span class="player-card-internalid">
      {{ player?.name }}
    </span>
    <span class="float-right player-card-rating">
      {{ player?.rating | number:'1.1-2' }}
    </span>


    <div class="d-flex flex-row-reverse">
      <span *ngFor="let recentRating of this.getRecentMatches()"
        [ngClass]="this.getDisplayClassForRating(recentRating)"
        ngbTooltip={{this.getDisplayTooltipForRating(recentRating)}}>
        {{ this.getDisplayTextForRating(recentRating) }}</span>
    </div>
  </span>
  <div></div>
</div>