<!-- <div class="row">
    <div class="col-xs-6">
        <p>{{playerInfo.name}} (with ID: {{playerInfo.id}})</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Current rating: {{ playerInfo.rating }}
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Actions... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add to match</a></li>
                <li><a href="#">Edit player</a></li>
            </ul>
        </div>
    </div>
</div> -->