@if (!showCombinations) {
<div>
  <div class="customgame-toolbar f-row ">
    <div class="toolbar-actions">
      <button type="button" class="gus-button gus-border gus-hoverable toolbar-btn" (click)="openAddPlayerSideNav()">➕ <span class="toolbar-btn-label">Add</span></button>
      <button type="button" class="gus-button gus-border gus-hoverable toolbar-btn" (click)="onMakeTeamsClicked()">
        <img rel="preload" class="align-self-center" src="./../../assets/tshirt.svg" height="20rem" alt="" />
        <span class="toolbar-btn-label">Make teams...</span>
      </button>
    </div>
  </div>
  <div class="f-row f-align-center">

    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <h5>Selected players ({{ matchData.draftPlayers.length }})</h5>
      <div>
        @for (playerItem of this.matchData.draftPlayers; track playerItem) {
        <div class="selected-player-row">
          <div class="player-card-wrapper"
            [class.team1-locked]="playerItem.affinity === 1"
            [class.team2-locked]="playerItem.affinity === 2"
            (mousedown)="onCardMouseDown($event, playerItem)"
            (touchstart)="onCardTouchStart($event, playerItem)"
            (touchend)="onCardTouchEnd($event, playerItem)">
            <app-player-mini-card [player]="playerItem"></app-player-mini-card>
            <div class="player-card-actions">
              <button type="button" class="gus-button gus-border gus-hoverable player-action-btn"
                [class.gus-button-active]="playerItem.affinity === 1"
                (click)="onPlayerLockTeam1(playerItem)" title="Assign to team 1">
                👈 <span class="player-action-label">Left</span>
              </button>
              <button type="button" class="gus-button gus-border gus-hoverable player-action-btn"
                (click)="onRemoveSelectedPlayer(playerItem)" title="Remove">❌</button>
              <button type="button" class="gus-button gus-border gus-hoverable player-action-btn"
                [class.gus-button-active]="playerItem.affinity === 2"
                (click)="onPlayerLockTeam2(playerItem)" title="Assign to team 2">
                <span class="player-action-label">Right</span> 👉
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

  </div>
</div>
}
@if (showCombinations) {
<div class="f-row f-align-center">
  <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <app-match-combos [playerList]="matchData.draftPlayers" [makeTeamsEvent]="this.makeTeamsSubject"></app-match-combos>
  </div>
</div>
}

<div id="available-players-sidenav" class="gus-sidenav"
  [ngClass]="isAddPlayerSideNavOpen ? 'gus-sidenav-shown' : 'gus-sidenav-hidden'" (click)="closeAddPlayerSideNav()">
  <div class="gus-sidenav-container" (click)="$event.stopPropagation()">
    <button type="button" class="gus-button gus-border gus-hoverable" (click)="closeAddPlayerSideNav()">Close ❌</button>
    <h5>Available players ({{ matchData.availablePlayersPool.length }})</h5>
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 border-bottom gus-search-box">
      <input class="form-control border-0" type="text" [(ngModel)]="searchedName"
        (keyup)="onSearchContentChange($event)" placeholder="Search..." aria-label="Search" />
    </div>
    @for (
    playerItem of this.matchData.availablePlayersPool
    | playerFilter: searchedName
    ; track playerItem) {
    <app-player-card [player]="playerItem" (playerSelected)="onAvailablePlayerSelected($event)">
    </app-player-card>
    }
  </div>
</div>