<div class="row justify-content-end">
  <div class="col-md-6">
    <div class="border-bottom">
      <input class="form-control border-0" type="text" [(ngModel)]="searchedName"
        (keyup)="onSearchContentChange($event)" placeholder="Search..." aria-label="Search" #srcNameArea autofocus>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <button type="button" class="btn btn-primary">Make teams...</button>
  </div>
</div>
<div class="row">
  <!-- show the list of players on the left side -->
  <div class="col-md-6">
    <h5>Selected players</h5>
    <div>
      <app-match-player *ngFor='let playerItem of matchData.draftPlayers' [player]="playerItem"
        (playerSelected)="onPlayerSelected($event)"></app-match-player>
    </div>
  </div>
  <!-- show the list of players on the right side -->
  <div class="col-md-6">
    <h5>Available players</h5>

    <app-match-player *ngFor='let playerItem of matchData.availablePlayersPool | playerFilter: searchedName'
      [player]="playerItem" (playerSelected)="onPlayerSelected($event)">
    </app-match-player>
  </div>
</div>