<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="playerid">ID</label>
        <input disabled type="text" id="playerid" class="form-control" [ngModel]="player.id" name="playerid" required
            #playerid="ngModel">
    </div>
    <div class="form-group">
        <label for="playername">Name</label>
        <input type="text" id="playername" class="form-control" [ngModel]="player.name" name="playername" required
            #playername="ngModel">
        <span class="help-block" *ngIf="!playername.valid && playername.touched">Name invalid or already in use.</span>
    </div>
    <div class="form-group">
        <label for="playerrating">Rating</label>
        <input type="number" id="playerrating" class="form-control" [ngModel]="player.rating" name="playerrating"
            required #playerrating="ngModel" >
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Ok</button>
    <button class="btn btn-secondary" type="reset" (click)="onCancel($event)">Cancel</button>
</form>