/* You can add global styles to this file, and also import other style files */
.player-card {
    cursor: pointer;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
}

.player-card img {
    vertical-align: bottom;
}

.player-card-rating {
    text-align: right;
    vertical-align: bottom;
    float: right;
}

.player-card-internalid {
    font-size: x-small;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player-card-name {
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player-card-namesubtext {
    font-size: xx-small;
    vertical-align: bottom;
    text-align: right;
}