/* You can add global styles to this file, and also import other style files */
.player-card {
    cursor: pointer;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
}

.gus-search-box {
    padding: 0.5em;
}

.player-card img {
    vertical-align: bottom;
}

.player-card-rating {
    text-align: right;
    vertical-align: bottom;
    float: right;
}

.player-card-internalid {
    font-size: x-small;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player-card-name {
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.player-card-namesubtext {
    font-size: xx-small;
    vertical-align: bottom;
    text-align: right;
}

.player-card-team-selector {
    font-weight: 900;
    padding-left: 1em;
    padding-right: 1em;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector-active {
    font-weight: 900;
    padding-left: 1em;
    padding-right: 1em;
    background: #120052;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector-hover {
    color: white;
    font-weight: 900;
    padding-left: 1em;
    padding-right: 1em;
    background: #120052;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector:hover {
    font-weight: 900;
    padding-left: 1em;
    padding-right: 1em;
    border-color: #4A1A77;
    border-width: 2px;
    background: linear-gradient(135deg, #2bb7e2 0%,#217892 67%,#113844 95%,#040f13 100%);
    color: white;
}

.btn-grad-gusty:hover {
    background: linear-gradient(135deg, #8A2Be2 0%,#8A2Be2 67%,rgb(181, 55, 242) 95%,#120052 100%);
    animation: GradAnim 2s ease infinite;
    color: white;
}

.btn-outline-gus {
    border-color: #8A2Be2;
    border-width: 1px;
}

@keyframes GradAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.player-card-grad {
    border-color: rgba(18, 0, 82, 0.25);
}

.player-card-grad:hover {
    background: linear-gradient(135deg, #8A2Be2 0%,#8A2Be2 67%,rgb(181, 55, 242) 100%);
    color: white;
}

a.player-card-grad:hover {
    color: white;
}

.left-player-list {
    padding: 0.5em;
}

.right-player-list {
    padding: 0.5em;
}
