
.turbo-card {
    display: grid;

    margin: 0.2rem 0 0.2rem 0;
    padding: 0.2rem;

    grid-gap: 0.1rem;
    grid-template-columns: 5rem auto 2.5rem;
    grid-template-rows: 50% 30% 20%;
    /* background-color: aquamarine; */
    padding: 0.2rem;
    /* color: #444; */
}

.turbo-card-pic {
    display: inline-block;
    background-color: red;
    background: url('assets/tshirt.svg') center no-repeat;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    z-index: 10;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.turbo-card-shirt {
    display: inline-block;
    color: red;
    font-size: large;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.turbo-card-displayname {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.turbo-card-fullname {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.turbo-card-rating {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

/* You can add global styles to this file, and also import other style files */
.player-card {
    cursor: pointer;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.2rem;
}

.gus-search-box {
    padding: 0.5rem;
}

.player-card-rating {
    text-align: right;
    vertical-align: bottom;
    float: right;
    padding-right: 1rem;
}

.player-card-container {
    position: relative;
    align-content: center;
}

.player-card-img {
    display: inline-block;
    width: 100%;
}

.player-card-shirt {
    display: inline-block;
    color: red;
    font-size: large;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.player-card-panel {
    padding: 0;
}

.player-card-internalid {
    font-size: x-small;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.player-card-name {
    font-size: large;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.player-card-namesubtext {
    font-size: xx-small;
    vertical-align: bottom;
    text-align: right;
}

.player-card-team-selector {
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector-active {
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #120052;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector-hover {
    color: white;
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #120052;
    border-color: #4A1A77;
    border-width: 2px;
}

.player-card-team-selector:hover {
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #4A1A77;
    border-width: 2px;
    background: linear-gradient(135deg, #2bb7e2 0%,#217892 67%,#113844 95%,#040f13 100%);
    color: white;
}

.btn-grad-gusty:hover {
    background: linear-gradient(135deg, #8A2Be2 0%,#8A2Be2 67%,rgb(181, 55, 242) 95%,#120052 100%);
    animation: GradAnim 2s ease infinite;
    color: white;
}

.btn-outline-gus {
    border-color: #8A2Be2;
    border-width: 1px;
}

@keyframes GradAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.player-card-grad {
    border-color: rgba(18, 0, 82, 0.25);
}

.player-card-grad:hover {
    background: linear-gradient(135deg, #8A2Be2 0%,#8A2Be2 67%,rgb(181, 55, 242) 100%);
    color: white;
}

a.player-card-grad:hover {
    color: white;
}

.left-player-list {
    padding: 0.5rem;
}

.right-player-list {
    padding: 0.5rem;
}
