.toolbar-container {
  padding: 0.25em 0.5em;
}

.panel-draft-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}

.searchfield {
  border-top: none;
  border-left: none;
  border-right: none;
  /* appearance: none; */
  outline: none;
}

.availableplayers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

.selectedplayers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}