<div class="gus-sidenav-container" (click)="onSideNavInnerContainerClicked($event)">
  <div class="grid-2-col">

    <button class="grid-2-col-item-wide gus-button gus-border gus-hoverable" (click)="onCloseBtnClick()">Close
      ❌</button>

    @if (player(); as player) {

    <label class="grid-2-col-item-narrow" for="player-id">ID:</label>
    <input class="grid-2-col-item-narrow gus-input gus-border gus-hoverable" name="player-id" [(ngModel)]="player.id"
      type="text" placeholder="ID">

    <label class="grid-2-col-item-narrow" for="player-name">Name:</label>
    <input class="grid-2-col-item-narrow gus-input gus-border gus-hoverable" name="player-name"
      [(ngModel)]="player.name" type="text" placeholder="Name">

    <label class="grid-2-col-item-narrow" for="player-display-name">Display name:</label>
    <input class="grid-2-col-item-narrow gus-input gus-border gus-hoverable" name="player-display-name"
      [(ngModel)]="player.displayName" type="text" placeholder="Display name">

    <label class="grid-2-col-item-narrow grid-2-col-item-tall-3" for="player-keywords">Keywords:</label>
    <input class="grid-2-col-item-narrow grid-2-col-item-tall-3 gus-input gus-border gus-hoverable"
      name="player-keywords" [(ngModel)]="player.keywords" type="text"
      placeholder="Keywords (alternative search criteria)">

    <label class="grid-2-col-item-narrow" for="player-rating">Rating:</label>
    <input class="grid-2-col-item-narrow gus-input gus-border gus-hoverable" name="player-rating"
      [(ngModel)]="player.rating" type="number" placeholder="Rating">

    <label class="grid-2-col-item-narrow" for="player-stars">Stars ⭐:</label>
    <input class="grid-2-col-item-narrow gus-input gus-border gus-hoverable" name="player-stars"
      [(ngModel)]="player.stars" type="number" placeholder="Stars">

    @if (canEditPlayers()) {
    <button class="grid-2-col-item-wide gus-button gus-border gus-hoverable" (click)="onSaveBtnClick()">Save ☁️</button>
    }

    @if (canArchivePlayer()) {
    <button class="grid-2-col-item-wide gus-button gus-border gus-hoverable" (click)="onMovePlayerToArchive()">Archive
      📦</button>
    }
    @if (canUnarchivePlayer()) {
    <button class="grid-2-col-item-wide gus-button gus-border gus-hoverable" (click)="onMovePlayerToActive()">Activate
      ⚽</button>
    }
    }
  </div>
</div>